/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	
}

@media only screen and (max-width: 600px) {
/******header******/
	.navigation-mobile-inner {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		display: inline-flex;
	}
	img#cover, .nagivation{
		display:none;
	}
	.navigation-mobile-menu, .navigation-mobile-logo {
		width: 50%;
		float: left;
	}
	.navigation-mobile {
		display: inline-block;
		width: 100%;
		font-family: cursive;
		border-bottom: inset;
		border-color: rgba(255, 255, 255, 0.3);
	}

/******end header******/
/****** body******/

	.navigation-inner, .intropart, .contact-info, .down-site-content, .content-inner{
		max-width: 100%;
		margin-left: none;
		margin-right: none;
	}
	.myname {
		font-size: 40px;
		display: block;
	}
	.left-content, .right-content {
		width: 100%;
	}
	.content-inner {
		display: grid;
	}
	img.profile-image {
		width: 200px;
		height: 200px;
	}
	.portfolio-content {
		display: block;
		padding: 0px !important;
	}
	.portfolio-project {
		width: 90% !important;
		margin-left: auto;
		margin-right: auto;
	}
	h1 {
		font-size: 35px;
		margin-bottom: 10px;
	}
	section#portfolio {
		height: auto;
	}
	#home div.little-section-inner {
		height: 350px;
	}
	#aboutme div.left-content div.little-section-inner {
		height: 250px;
	}
	section#portfolio, #portfolio div.little-section-inner {
		height: 1600px;
	}
/******end body******/

/******footer******/
	footer {

		background-color: black;
		height: 120px;
	}
	footer div.content-inner {
		height: 40px;
	}
	ul.footer-left {
		padding-left: 0px;
		text-align: center;
	}
	footer li {
		margin-right: 8px;
		margin-left: 8px;
	}
	li {
		margin-top: 5px;
	}
	.content-inner ul {
		margin-left: auto;
		margin-right: auto;
	}
/******end footer******/

}