/******header**************************************/

.nagivation {
  font-family: cursive;
  border-bottom: inset;
  border-color: rgba(255, 255, 255, 0.3);
  background-color: #f4f5f0;
  height: 80px;
}
nav.navigation-home {
  width: 20%;
  float: left;
  margin-top: 10px;
}
div.nagivation-name {
  margin-top: 10px;
}
a {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  text-decoration: none;
  letter-spacing: 1px;
}
.nagivation-name img {
  width: 40px;
}

.nagivation-container {
  display: inline-block;
  width: 50%;
}
.navigation-button {
  width: 50%;
  margin: auto;
  height: 100%;
}
ul.nagivation-primary {
  display: flex;
  list-style-type: none;
  margin-top: 25px;
}
li.nagivation-item {
  width: 25%;
  text-align: center;
  border-radius: 50% 20% / 10% 40%;
}
.navigation-mobile {
  display: none;
}
/******end header**************************************/

/******body**************************************/
body {
  height: 100%;
}
section {
  width: 100%;
}

section#home {
  height: 100vh;
}
section#aboutme,
section#portfolio {
  height: 75vh;
  position: relative;
}
.left-content {
  width: 50%;
  float: left;
}
.right-content {
  width: 50%;
  float: right;
}
.little-section-inner {
  text-align: center;
  margin: auto;
  width: 90%;
  height: 500px;
  overflow: hidden;
  position: relative;
}
.vertical-align-center {
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
h1 {
  font-size: 50px;
  margin: auto;
  text-align: center;
}
::-webkit-scrollbar {
  display: none;
}

/*section 1*/
section#home {
  background-color: #cceefa4a;
}
img.profile-image {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  text-align: center;
  border-style: solid;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px grey;
}
.myname {
  font-size: 50px;
  /* font-weigh:600; */
}

.vertical-align-center p a {
  color: black;
}
a {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  /* text-transform: uppercase; */
  text-decoration: none;
  letter-spacing: 1px;
}

.download-re {
  border: 5px solid black;
  background: black;
  color: white !important;
}
/*section 2*/

ul.language-skill {
  list-style-type: none;
  padding-inline-start: 0;
}
ul.language-skill li {
  margin-left: 5px;
  color: white;
  font-weight: 700;
  padding: 5px;
  min-width: 80px;
  position: relative;
  width: 90px;
  display: inline-block;
}
span.skill-name {
  color: #545454;
}
.c100.orange .bar,
.c100.orange .fill {
  border-color: #74c8d3d1 !important;
}
span.percen {
  visibility: hidden !important;
}
/*section 3*/
section#portfolio {
  background-color: #f4f5f0c7;
}

.portfolio-content {
  display: inline-flex;
  width: 100%;
  overflow: hidden;
  text-align: center;
  padding: 20px;
}
p.showandhide {
  margin-top: -30px;
  display: none;
  position: absolute;
  font-size: 20px;
  border: 1px dashed;
  margin-left: 4%;
}
.portfolio-project {
  width: 33%;
  height: 450px;
  overflow: hidden;
}
.project-inner {
  width: 92%;
  background-color: #d3d3d329;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  box-shadow: 5px 12px 11px 3px rgba(69, 69, 70, 0.88);
  height: 400px;
  overflow: scroll;
  border-radius: 100px;
}
.portfolio-project img {
  width: 95%;
  height: 200px;
}
.project-inner p {
  text-align: -webkit-auto;
  padding: 0 15px 0 15px;
}
.videosource {
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
#netsuite-project-1 {
  display: none;
}
p.box {
  border: 3px solid gray;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  box-shadow: blue;
}
p a {
  color: red;
}
/* section#portfolio, #portfolio div.little-section-inner {
    height: 800px;
} */

/*section 4*/

table.timeline-table tr {
  height: 20px;
}
td.timeline {
  width: 25%;
  border-right: 2px solid black;
}
.timeline-spot {
  float: right;
  margin-right: 10px;
}
.job2 {
  background-color: #c0eaf7b5;
}
.timeline-content {
  margin-left: 20px;
  float: left;
}
.job1 {
  background-color: #ffffe0ba;
}
/******end body**************************************/

/******footer**********************************************/
footer {
  background-color: black;
  height: 100px;
  width: 100%;
  bottom: 0; /* stick to bottom */
  position: relative;
}
.footer-left {
  float: left;
  display: flex;
}
footer ul {
  list-style-type: none;
  margin-top: 15px;
}
footer li {
  margin-right: 20px;
  color: white;
}
ul.footer-left li a,
ul.footer-right li a {
  color: white;
}
.footer-right {
  float: right;
}

.rightmark {
  text-align: center;
  color: #746767;
  bottom: 0;
}
/******end footer**********************************************/

/******animation**************************************/
.c100:hover > span.skill-name {
  visibility: hidden !important;
  display: none;
}
.c100:hover > span.percen {
  visibility: visible !important;
}
.c100.orange .bar,
.c100.orange .fill {
  border-color: #74c8d3d1 !important;
}
/* .c100:hover > span.percen{
	color: #74c8d3d1 !important;
} */
@keyframes slide-right {
  0% {
    margin-left: -75%;
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    margin-left: 0%;
    opacity: 1;
  }
}
@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes hide-cover {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  75% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
li.nagivation-item:hover {
  background-color: #9b979784;
}
a.myemail:hover {
  margin-left: 10px;
}
.website-link:hover {
  color: blue;
}
.footer-right:hover {
  -webkit-transform: rotateZ(-10deg);
  transform: rotateZ(-10deg);
}
.footer-left li:hover {
  background-color: gray;
  border-radius: 50px;
}
a.getresume:after {
  content: " \25b6";
  font-size: 0.7rem;
  position: relative;
  -webkit-transition: 75ms ease-in-out padding;
  transition: 75ms ease-in-out padding;
}
a.getresume:hover {
  padding-left: 20px;
}
div.portfolio-project:hover {
  margin-top: -10px;
}
.download-re:hover {
  background: gray;
  border: 5px solid gray;
}
/******end animation**************************************/
/******multi tag**************************************/
.nagivation {
  z-index: 4;
  position: sticky;
  top: 0px;
}
.nagivation,
.contact-section,
.site-content {
  width: 100%;
  display: inline-block;
}
.footer-inner {
  width: 90%;
  margin: auto;
  height: 100%;
  vertical-align: middle;
}
.navigation-inner,
.intropart,
.contact-info,
.down-site-content,
.content-inner {
  max-width: 100%;
  margin: auto;
  width: 100%;
  position: absolute;
  top: 20%;
}
li.nagivation-item a,
.nagivation-name a {
  color: #444343;
  font-weight: 600;
}
/******end multi tag**************************************/

.intro-text {
  position: absolute;
  width: 40%;
  height: 150px;
  z-index: 2;
  margin: auto;
  margin-top: 16%;
  text-align: center;
  font-size: 16px;
  color: black;
}

.intro-right {
  width: 40%;
}

.intro-left {
  width: 60%;
}

.intro-right img {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

section.intro-section {
  display: flex;
}

.intro-left {
  background-color: #f4f5f0;
}
a:link {
  text-decoration: none;
}

img.social-media:hover {
  width: 55px;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    font-size: 40px;
    margin-right: 50%;
    text-align: center;
    width: 100%;
  }
  100% {
    opacity: 1;
    width: 100%;
    margin-right: 50%;
    text-align: center;
    writing-mode: vertical-lr;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(-180deg);
  }
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #f4f5f0; /* Set a background color */
  color: rgb(59, 59, 59); /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 50px; /* Rounded corners */
  font-size: 16px; /* Increase font size */
  font-weight: 700;
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
  color: white;
}
