/******navigation**************************************/


.nagivation{
	font-family: cursive;
	border-bottom: inset;
	border-color: rgba(255, 255, 255, 0.3);
	width: 100%;
}

.navigation-inner {
    width: 98%;
    margin: auto;
	display: inline-flex;
}

div.navigation-logo {
   width: 10%;
   display:none;
}

div.nagivation-item img{
    width: 80px;
	margin-top: -30px;
}
.navigation-logo img {
	  width: 80px;
}

div#menu-icon{
	position: fixed;
	right: 30px;
	display: inline-block;
	border-radius: 60px;
    box-shadow: 4px 2px 5px 2px #11111182;
	width: 60px;
	visibility: hidden;
}
div#menu-icon img{
	width: 60px;
}

a {
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    text-decoration: none;
    letter-spacing: 1px;
}
.nagivation-item a {
    color: #464545;
    font-weight: bold;
}
.nagivation-container {
    display: inline-block;
        visibility: visible;
    width: 86%;
	margin-top: 30px;


}
.navigation-button {
       margin: auto;
    width: 96%;
	  display: flex;
}
ul.nagivation-primary {
    display: flex;
    list-style-type: none;
}
.nagivation-item {
	
    width: 25%;
    text-align: center;
    border-top: solid transparent;
}
.navigation-mobile {
    display: none;
}


/******navigation end**************************************/

/******content**********************************************/
section{
	width: 100%;
}
.section-inner{
	width: 90%;
	margin: auto;
	
}
.inner-content{
	height: 500px; 
	box-shadow: 4px 2px 5px 2px #11111182; 
    padding: 50px;
}
 
	
#home{
	background-color:#ff7d8029;
}
#aboutme{
	background-color:#f2cebe94;
}
#portfolio{
	background-color:#9ee5cdab;
}
#experience{
	background-color:#dba7c599;
}

/******content end**********************************************/


/******footer**********************************************/
footer {
    background-color: black;
    height: 40px;
    width: 100%;

   
    font-size: 14px;
}
.content-inner {
    width: 98%;
    margin: auto;
    height: 100%;
}

.footer-left {
    float: left;
    display: flex;
	width: 70%;
	text-align: left;
	margin-top: 10px;
}

.footer-item {
    width: 20%;
    color: white;
}
.footer-left a, .footer-right  a, .footer-right div{
    color: white;
}
.footer-right {
    float: right;
	margin-top: 10px;
	width: 25%
}
/******end footer**********************************************/

/*footer animation*/
.footer-right:hover{
	-webkit-transform: rotateZ(-10deg);
	transform: rotateZ(-10deg);
}
.footer-item:hover{
	transform: perspective(1px) translateZ(0);
    box-shadow: 3px 6px 17px 5px rgb(89, 218, 247);
}
/*footer animation end*/