header{
	height:100%;
	overflow:auto;
	background: url('background.jpg') 0 0 no-repeat;
	background-color: transparent;
	background-size: 100%;
}

.nagivation{
	display: inline-block;
	width:100%;
    padding-top: 30px;
    padding-bottom: 30px;
	font-family: cursive;
	border-bottom: inset;
	border-color: rgba(255, 255, 255, 0.3);
}

.nagivation-container{
	color:white;
	display : inline-block;
	float: right;
	width: 50%;
	font-size: 20px;
}
li.nagivation-item {
	width: 20%;
}

ul.nagivation-primary {
	display: flex;
	list-style-type: none;
}

h1,h2,a{
	color: white;
}
h1{
	font-size:70px;
    margin-bottom: -10px;
}
a{
	font-family: "Roboto", "Helvetica Neue", sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.intropart {
	display: inline-block;
	width: 100%;
}

.intropart-inner{
	
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	color: white;
	padding: 2rem 0;
	clear: both;
}
section{
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em; 
	background-color:aliceblue;
	    display: flex;
}
.project {
    width: 33%;
}