header{
	height:100%;
	overflow:auto;
	background: url('images/background.jpg') 50% 30% no-repeat;
	background-color: transparent;
	background-size: 100%;
    box-shadow: inset 0 0 0 9999em;
    color: rgba(33, 33, 33, 0.50);
}
body{
	height:100%;

}
img#cover {
    position: fixed;
    z-index: 1;
    width: 100%;
    overflow: hidden;
}

a.getresume:after {
    content: ' \25b6';
    font-size: .7rem;
    position: relative;
    -webkit-transition: 75ms ease-in-out padding;
    transition: 75ms ease-in-out padding;
}
a.getresume:hover{
	padding-left: 20px;
}

.nagivation{
	display: inline-block;
	width:100%;
    padding-bottom: 10px;
	font-family: cursive;
	border-bottom: inset;
	border-color: rgba(255, 255, 255, 0.3);
}
.navigation-inner{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}
.nagivation-name{
    margin-top: 20px;
    font-size: 30px;
    
}
nav.navigation-home {
    width: 50%;
    float: left;
}
.nagivation-container{
	color:white;
	display : inline-block;
	float: right;
	width: 50%;
	font-size: 20px;
}
li.nagivation-item {
	width:25%;
	text-align	: center;
	    border-top: solid transparent;
}

ul.nagivation-primary {
	display: flex;
	list-style-type: none;
}

h1,h2,a{
	color: white;
}
h1{
	font-size:70px;
    margin-bottom: -10px;
}
a{
	font-family: "Roboto", "Helvetica Neue", sans-serif;
	/*text-transform: uppercase;*/
	text-decoration: none;
	letter-spacing: 1px;
}
.intropart {
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;

}

.intropart-inner{
	
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	color: white;
	padding: 2rem 0;
	clear: both;
}
section{
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em; 
	display: flex;
	border-bottom: groove;
}
.project {
      width: 50%;
    overflow: hidden;
    margin: 10px;
}
.project-image{
	margin-bottom: 15px;
	width:100%;
	height: 250px;
}
.project-title{
	text-decoration: none;
	color: #51748e;  
	font-family: 'Playfair Display', sans-serif; 
	font-size: 1.5em;  
	font-weight: bold;
    line-height: 1.4;
    text-rendering: optimizeLegibility;
	
}
a.project-title:hover{
  
	color: lightblue;
}
.project-descrip{
	font-family: "Roboto", sans-serif;
	margin: 0 !important;
    padding: 0 0 10px 0 !important;
	line-height: 1.8;
	height: 60px;
	
}
a.project-title.more {
    font-size: 15px;

}
.has-label{
	list-style-type: none;
	padding: 0.55rem 0;
	line-height: 1.8;
}
footer{
	font-color:white;
	background-color: black;
	height:60px;
}
footer ul {
    list-style-type: none;

}
footer li {
    margin-right:20px;
	color:white;
}
.footer-left li:hover{
	   /* font-size: 20px;*/
		transform:perspective(1px) translateZ(0);
		box-shadow:0 0 22px rgba(200, 98, 98, 0.61)
}
.footer-right:hover{
	 -webkit-transform: rotateZ(-10deg);
     transform: rotateZ(-10deg);
}
.footer-right{

	float:right;
}
.footer-left{

	float:left;
	display: flex;
	display: flex;
}
.skillpart{	
	width:33%;
	margin-bottom: 20px;
	line-height: 1.8;
	animation-name: fadeInAnimation;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}
.button-to-top{
	float:right;
	animation:bouncy 5s infinite linear;
position:relative;
	
}
/*netsuite project page*/
.program-descrip{
		margin-top:25px;
	margin-left:20px;
}
.program-image{
	
	margin-top:25px;
}
div.slide-right{
  width:100%;
  overflow:hidden;
  display: contents;
}

a.myemail:hover{
margin-left: 10px;

}


div.slide-right div.project {
  animation: slide-right 5s;
}

img#cover{
	animation: hide-cover 6s;
	animation-iteration-count: 1;
}
li.nagivation-item:hover{
	
	border-top: solid;
}

@keyframes slide-right {
  0% {
     margin-left: -75%;
	   opacity:0;
  }
  50% {
    opacity:0.5;
	
  }
  75%{
	   opacity:0.8;
  }
  100%
  {
    margin-left: 0%;
	 opacity:1;
  }
}
@keyframes fadeInAnimation  {
  from {
   opacity:0;
  }
  to {
   opacity:1;
  }
}

@keyframes hide-cover{
  0% {
	   opacity:1;
  }
   20% {
	   opacity:1;
  }
  50% {
    opacity:0.7;
	
  }
  75%{
	   opacity:0.4;
  }
  100%
  {
	 opacity:0;
	 z-index:-1;
  }
}