header{
    height:100%;
    overflow:auto;
   /* background: url('background.jpg') 0 0 no-repeat;*/
    background: url('background.jpg') 0 0 no-repeat;
    background-color: transparent;
    background-size: 100%;
}
  .nagivation{
      display: inline-block;
  width:100%;
  }
  .intropart {display: inline-block;}
  .nagivation-container{

  color:white;
  display : inline-block;
      float: right;
      width: 70%;
      width: 70%;
      font-size: 20px;
  }
  li.nagivation-item {
  width: 20%;
  }

  ul.nagivation-primary {
  display: flex;
  list-style-type: none;
  }
  h1,h2,a{

  color: white;
  }
