/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	
}

@media only screen and (max-width: 600px) {
.navigation-mobile-inner {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: inline-flex;
}

.navigation-mobile-menu, .navigation-mobile-logo {
    width: 50%;
    float: left;
}

.left-content,.right-content {
    width: 100%;
}

img.profile-image {
    width: 200px;
    height: 200px;
}
.portfolio-project {
    width: 90% !important;
    margin-left: auto;
    margin-right: auto;
}

.portfolio-content {
    display: block;
    padding: 0px !important;
}
.aboutme-image{
	width:200px;
}
footer div.content-inner {
    height: 40px;
}

ul.footer-left {
    padding-left: 0px;
    text-align: center;
}

footer li {
    margin-right: 8px;
    margin-left: 8px;
}

ul.language-skill {
    display: table-cell;
    padding-left: 0px;
    /* margin-top: 5px; */
}

li {
    margin-top: 5px;
}


	img#cover, .nagivation{
		display:none;
	}
	.navigation-mobile{
		display: inline-block;
		width: 100%;
		font-family: cursive;
		border-bottom: inset;
		border-color: rgba(255, 255, 255, 0.3)
	}
	.nagivation-name{
		font-size:15px;
	}
	header{
		background: url(images/background.jpg) 50% 0% no-repeat;
		background-color: transparent;
		background-size: auto;
		box-shadow: inset 0 0 0 9999em;
	}
	h1{
		font-size: 30px;
		margin-bottom:10px;
	}
		}
	h2{
		font-size: 20px;
	}
	.intropart-inner,section,.contact-info,.navigation-mobile-content {
		max-width: 350px;
		margin-left:auto;
		margin-right:auto;
	}
	section{
	display: contents;
		margin-top: auto;
	}
	.skillpart {
		width: 100%;
		line-height:1;
	}
	.project-title{
		line-height:1;
	}
	.project{
		width:auto;
	}
	footer {
		font-color: white;
		background-color: black;
		height: 120px;
	}
	ul.contact-info-list {
    margin-left: -50px;
}
}